<template>
  <div class="add-todo">
    <input v-model="newTodo" placeholder="Добавьте новую задачу" @keyup.enter="addTodo" />
    <button @click="addTodo">✚</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newTodo: ''
    };
  },
  methods: {
    addTodo() {
      if (this.newTodo.trim()) {
        this.$emit('add-todo', this.newTodo.trim());
        this.newTodo = '';
      }
    }
  }
};
</script>

<style scoped>
.add-todo {
  margin-left: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.add-todo input {
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #696969;
}
.add-todo button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #1f7707;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
</style>