<template>
  <div class="todo-item">
    <input type="checkbox" :checked="todo.completed" @change="toggleComplete">
    <span v-if="!isEditing" :class="{ completed: todo.completed }" @click="enableEditing">{{ todo.text }}</span>
    <input v-else v-model="editText" @keyup.enter="saveEdit" @blur="saveEdit" type="text">
    <button @click="deleteTodo" class="delete-button">✖</button>
  </div>
</template>

<script>
export default {
  props: {
    todo: Object
  },
  data() {
    return {
      isEditing: false,
      editText: ''
    };
  },
  methods: {
    enableEditing() {
      this.isEditing = true;
      this.editText = this.todo.text;
    },
    saveEdit() {
      if (this.editText.trim()) {
        this.$emit('edit-todo', this.todo.id, this.editText.trim());
        this.isEditing = false;
      } else {
        this.deleteTodo();  // Удаляем задачу, если текст пуст
      }
    },
    deleteTodo() {
      this.$emit('delete-todo', this.todo.id);
    },
    toggleComplete() {
      this.$emit('toggle-complete', this.todo.id);
    }
  }
};
</script>

<style scoped>
.todo-item {
  display: flex;
  margin-bottom: 10px;
}
.todo-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
.todo-item span, .todo-item input[type="text"] {
  margin-left: 10px;
  font-size: 16px;
  border: 1px solid #696969;
  padding: 3px 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}
.completed {
  text-decoration: line-through;
  color: #808080;
}
.delete-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
</style>
