<template>
  <div class="todo-list">
    <todo-item
        v-for="todo in todos"
        :key="todo.id"
        :todo="todo"
        @edit-todo="editTodo"
        @delete-todo="deleteTodo"
        @toggle-complete="toggleComplete"
    />
  </div>
</template>

<script>
import TodoItem from './TodoItem.vue';

export default {
  components: {
    TodoItem
  },
  props: {
    todos: Array
  },
  methods: {
    editTodo(id, newText) {
      this.$emit('edit-todo', id, newText);
    },
    deleteTodo(id) {
      this.$emit('delete-todo', id);
    },
    toggleComplete(id) {
      this.$emit('toggle-complete', id);
    }
  }
};
</script>

<style scoped>
.todo-list {
  max-width: 600px;
  margin: 0 auto;
}
</style>