<template>
  <div id="app">
    <h1>My To-Do List</h1>
    <add-todo @add-todo="addTodo"></add-todo>
    <todo-list :todos="todos"
               @delete-todo="deleteTodo"
               @toggle-complete="toggleComplete"
               @edit-todo="editTodo"></todo-list>
  </div>
</template>

<script>
import AddTodo from './components/AddTodo.vue';
import TodoList from './components/TodoList.vue';

export default {
  name: 'App',
  components: {
    AddTodo,
    TodoList
  },
  data() {
    return {
      todos: [],
      nextId: 1
    };
  },
  mounted() {
    const savedTodos = localStorage.getItem('todos');
    if (savedTodos) {
      this.todos = JSON.parse(savedTodos);
      this.nextId = this.todos.length ? Math.max(...this.todos.map(todo => todo.id)) + 1 : 1;
    }
  },
  watch: {
    todos: {
      handler(newVal) {
        localStorage.setItem('todos', JSON.stringify(newVal));
      },
      deep: true
    }
  },
  methods: {
    addTodo(newTodoText) {
      this.todos.push({
        id: this.nextId++,
        text: newTodoText,
        completed: false
      });
    },
    editTodo(id, newText) {
      const index = this.todos.findIndex(todo => todo.id === id);
      if (index !== -1) {
        this.todos[index].text = newText;
        this.todos = [...this.todos];
      }
    },
    deleteTodo(id) {
      this.todos = this.todos.filter(todo => todo.id !== id);
    },
    toggleComplete(id) {
      const index = this.todos.findIndex(todo => todo.id === id);
      if (index !== -1) {
        this.todos[index].completed = !this.todos[index].completed;
        this.todos = [...this.todos];
      }
    }
  }
};
</script>

<style>
#app {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
</style>